@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background-color: hsla(0, 1%, 50%, 0.851);
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
}
button:hover {
  background-color: hsla(0, 1%, 40%, 0.851);
}
button:active {
  background-color: hsla(0, 1%, 60%, 0.851);
}
